body{
    padding: 0px;
    margin: 0px;
    background-image:url(../Book\ bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}   
   
   
/**

**/
body {
  background-color: #4F4E68;
}
.book {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 18.5rem;
  height: 12.5rem;
  perspective: 70rem;
}
.cover {
  background-color: #36354e;
  transform: rotateY(0deg);
  width: 9.25rem;
  height: 12.5rem;
}
.page {
  top: 0.25rem;
  left: 0.25rem;
  background-color: #e9e6c4;
  transform: rotateY(0deg);
  width: 9rem;
  height: 12rem;
  text-align: right;
  font-size: 8px;
  color: #777;
  font-family: monospace;
}
.page::before, .page::after {
  display: block;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  content: "";
  padding-bottom: 1rem;
}
.cover, .page {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.cover.turn {
  animation: bookCover 3s forwards;
}
.page.turn {
  animation: bookOpen 3s forwards;
}
.page:nth-of-type(1) {
  animation-delay: 0.05s;
}
.page:nth-of-type(2) {
  animation-delay: 0.33s
}
.page:nth-of-type(3) {
  animation-delay: 0.66s;
}
.page:nth-of-type(4) {
  animation: bookOpen150deg 3s forwards;
  animation-delay: 0.99s;
}
.page:nth-of-type(5) {
  animation: bookOpen30deg 3s forwards;
  animation-delay: 1.2s;
}
.page:nth-of-type(6) {
  animation: bookOpen55deg 3s forwards;
  animation-delay: 1.25s;
}
@keyframes bookOpen {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 999;}
}
@keyframes bookCover {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 1;}
}
@keyframes bookOpen150deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(150deg);
    z-index: 999;}
}
@keyframes bookOpen55deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(55deg);
    z-index: 999;}
}
@keyframes bookOpen30deg {
  50% { z-index: 999 }
  100% {  transform: rotateY(30deg);
    z-index: 999;}
}

.right{
    position:absolute;
    top: 61%;
    left:79%;
    transform: translate(-50%,-50%);
    width: 245px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.right h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(77, 76, 76);
    color: #444343;
}
.right form{
    padding: 0 40px;
    box-sizing: border-box;
}
.signup_link{
    color: #f8e004;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;  
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    
}
.txt_field label{
    position:absolute;
    top: 50%;
    left: 5px;
    color: #494646;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #242424;
    cursor: pointer;
}    
.pass:hover{
    text-decoration: underline;
}
/**.button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}**/
.button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 10px 34px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
}


@media screen and (max-width:760px) {
    .book-text h1 span {
        font-size: 15px;
        position: absolute;
        top: 10px;
        margin-right: -18px;
        z-index: -1;
    }

    .right{
        width: 335px;
        top: 57%;
        left: 65%;
    }
    
    .modal-content{
        background-color: #6323e1;
    }
    body {
        width: 100vw;
        height: 100vh;
    }

    .book-page {
        width: 214px;
        height: 284px;
        top: 22%;
        left: 32%;
    }
    .book-text p {
        height: 90px;
        width: 151px;
        margin-top: 20px;
        font-size: 14px;
    }
    .book-text h1 {
        font-size: 31px;}


}
